@font-face {
  font-family: "Thewitcher";
  src: url("../../assets/fonts/Thewitcher-jnOj.ttf");
}

.banner-Container {
  background-repeat: no-repeat !important;
  background-size: cover;
}
body {
  background-color: gray;
} /*temporal*/

.banner-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Box-containerRunes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 800px;
}

.box-CSig {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
}
.box-CSig hr {
  margin: 0;
  margin-top: 35px;
  height: 700px;
}
.down-Signs {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.line-Down {
  width: 50%;
  background-color: white;
  height: 1px;
}
.down-Signs img {
  border: 1px solid white;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}

.upper-Signs {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  bottom: 4%;
}
.line-Top {
  width: 100%;
  background-color: white;
  height: 1px;
}
.upper-Signs img {
  border: 1px solid white;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}

.InformationBanner {
  text-align: start;
  width: 45%;
  margin-left: 20px;
}
.InformationBanner h1 {
  font-size: 80px;
  margin: 0px;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.InformationBanner h1 span {
  background-image: linear-gradient(#ad212a, #470e11);
  color: transparent;
  background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.InformationBanner h3 {
  font-size: 30px;
  margin: 0;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}
.InformationBanner h1,
.InformationBanner h3 {
  font-family: "Thewitcher";
  color: white;
}

.InformationBanner p {
  color: white;
  margin: 0;
  font-family: "Oswald";
  font-size: 20px;
}

.btn-Container-banner {
  width: 100%;
  margin-top: 20px;
}
